{% extends 'main/layout.html' %}
{% load static %}
<!-- {% load static %} без этого не загружается страница-->
{% block title %}{{ title }}{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'main/css/about.css' %}">

<div class="div-main">
    <div class="about1">
        <h3>О бренде</h3>
        <p>Leather belt — российский бренд аксессуаров из натуральной кожи.<br>Ручная работа, минималистичный дизайн
            и высочайшее качество являются приоритетами нашей компании, основанной в 2014 году.<br>Мы делаем все,
            чтобы вы могли дарить себе и своим близким восторг и счастливые эмоции.</p>
    </div>
    <div class="about2">
        <div class="about2-0">
            <h3>Сделано в России</h3>
            <p>Собственное производство, тщательный отбор материалов и ручная работа в сочетании с современным оборудованием
                позволяет нам добиться высочайшего качества продукции.</p>
        </div>
        <div class="about2-1">
            <img class="img1-1" src="{% static 'main/img/made_in_russia-2.jpg' %}" alt="2">
            <div class="about2-1-text">
                <h3>ПРОИЗВОДСТВО</h3>
                <p>Все началось более 10 лет назад в мастерской отца по пошиву обуви.<br>Последовав его примеру, тогда мы
                    и решили создать свой первый кошелек. Чтобы перенять весь опыт и мастерство, потребовалось несколько лет
                    обучения и практики. Сегодня мы команда профессионалов, знающая и любящее свое дело.</p>
                <p>Мы устремили свое внимание на минималистичный дизайн и функциональность изделий. Создаём аксессуары
                    премиального качества доступные каждому.</p>
                <p>Аксессуары Leather belt изготавливаются на собственном производстве, находящемся в России. В нашей компании
                    больше 15-ти специалистов, а сам проект в своем роде является одним из первых в стране.</p>
            </div>
<!--            <h3>ПРОИЗВОДСТВО</h3>-->
<!--            <p>Все началось более 10 лет назад в мастерской отца по пошиву обуви.<br>Последовав его примеру, тогда мы-->
<!--                и решили создать свой первый кошелек. Чтобы перенять весь опыт и мастерство, потребовалось несколько лет-->
<!--                обучения и практики. Сегодня мы команда профессионалов, знающая и любящее свое дело.</p>-->
<!--            <p>Мы устремили свое внимание на минималистичный дизайн и функциональность изделий. Создаём аксессуары-->
<!--                премиального качества доступные каждому.</p>-->
<!--            <p>Аксессуары KANS изготавливаются на собственном производстве, находящемся в России. В нашей компании-->
<!--                больше 15-ти специалистов, а сам проект в своем роде является одним из первых в стране.</p>-->
        </div>

        <div class="about2-2">
            <h3>МАТЕРИАЛЫ</h3>
            <img class="img1" src="{% static 'main/img/made_in_russia-3.jpg' %}" alt="2">
            <img class="img1" src="{% static 'main/img/made_in_russia-4.jpg' %}" alt="2">
            <p>Все изделия Leather belt изготавливаются из натуральной кожи высокого качества.<br>Металлофурнитура также
                премиального качества от ведущих заводов Италии.<br>Наши специалисты тщательно отбирают только те материалы,
                которые соответствуют высоким стандартам современного производства.<br>Нашими поставщиками являются
                заводы Италии, России и Кореи сертифицированные Leather Working Group.</p>
        </div>


        <div class="about2-3">
            <h3>РУЧНАЯ РАБОТА</h3>
            <img class="img2" src="{% static 'main/img/made_in_russia-5.jpg' %}" alt="2">
            <p>Чтобы получить по-настоящему качественный продукт, мы соединили передовые технологии кожевенной
                индустрии и ручной труд, подкрепив это колоссальным опытом нескольких поколений. Высокие стандарты
                и поэтапный контроль качества это фундамент, на котором строится производство.</p>
            <p>Кожа — натуральный материал, свойства и внешний вид которого часто отличается даже на одной шкуре.
                Поэтому автоматизация производства изделий из кожи невозможна — только внимательность и ручной труд мастеров
                могут довести каждую деталь изделия до совершенства.</p>
        </div>
    </div>
</div>
{% endblock %}