{% extends 'main/layout.html' %}
{% load static %}
<!-- {% load static %} без этого не загружается страница-->
{% block title %}{{ title }}{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'main/css/buyer.css' %}">

<div class="div-main">
    <div>
        <h3>Гарантия</h3>
        <a>Гарантия на наши изделия — 5 лет с момента приобретения.</a><br>
        <a>Это значит, что, если с аксессуаром что-то случится в течение этого срока,
            мы будем готовы предложить вам ремонт изделия.</a><br>
        <a>Замки, молнии, застежки, пряжки имеют иные гарантийные сроки —
                1 год регламентированные производителем фурнитуры.</a><br>
        <br>
        <p>Гарантия качества изделия распространяется только на производственные дефекты и не распространяется
            на механические повреждения, вызванные неаккуратным использованием или неправильным уходом,
            а также в случае использования изделия не по назначению.</p>
        <p>Хотим обратить внимание, что все наши изделия выполнены из натуральной кожи – это природный материал,
            для которого характерны небольшие неоднородности и морщины – они делают каждое изделие уникальным.
            Как и естественный износ кожи со временем, они не являются дефектами и не подлежат гарантийному возврату.</p>
    </div>
    <div>
        <h3>Возврат</h3>
        <p>Вы можете вернуть товар в течение 14 дней после получения заказа.</p>
        <p>Для этого нужно написать на электронную почту указанную на сайте в разделе «Контакты».</p>
        <p>Основанием для возврата может служить брак, ошибка в персонализации допущенная по нашей вине, либо получение
            не того товара, что был указан в заказе.</p>
        <p>Возврат средств не осуществляется на товары в использовании.<br>Перед оформлением возврата, убедитесь,
            что приобретенное изделие находится в том же состоянии, как и в день покупки.</p>
        <p>Также возврат средств невозможен в случаях, когда на изделие нанесена индивидуальная гравировка или оно имеет
            иные индивидуально-определенные свойства.</p>
        <p>Обращаем ваше внимание, если вы решили отказаться от покупки до начала изготовления вашего заказа,
            из возвращаемой суммы может быть исключена стоимость комиссии платежной системы. Комиссия может составлять
            до 10% — это зависит от способа оплаты.</p>
        <p>Напоминаем, что доставка является отдельной услугой, которую осуществляют почтовые отделения
            и курьерские службы. Соответственно мы не можем влиять на сроки доставки вашего заказа. Мы предоставляем
            только те сроки, по которым доставляют транспортные компании. Но если у вас возникнут сложности с получением
            вашего заказа, мы всегда рады помочь вам</p>
    </div>
    <hr>
    <div>
        <h3>Рекомендации по уходу</h3>
        <p>Все наши изделия выполнены из натурально кожи — это прочный и долговечный материал, который требует
            правильный уход и бережное использования.</p>
        <h4>Благодаря этим рекомендациям ваши кожаные изделия много лет будут восхищать своей красотой.</h4>
        <p>Очищайте изделия от мелких загрязнений сухой мягкой тканью. Не мойте изделия под проточной водой
            и не погружайте их в нее.</p>
        <p>Сушите изделия естественным путем без применения фена, батареи, обогревателя и т.п.</p>
        <p>Для ухода за кожей пользуйтесь мягкими щетками и бесцветным воском для кожи.</p>
        <p>Не допускайте попадания на кожу растворителей и других химических веществ.</p>
        <p>По возможности избегайте трения и ударов наружной части изделия о твердые предметы.</p>
        <p>С течением времени на изделии возможно появление небольших потертостей, что свидетельствует о
            натуральности кожи и никак не влияет на первоначальные свойства изделия.</p>
        <p>Во избежание деформации или повреждения кожи избегайте излишне больших нагрузок на аксессуар и не храните
            изделие на солнечных лучах и в пластиковых пакетах.</p>
    </div>
    <hr>
    <div>
        <h3>Оплата</h3>
        <p>Мы принимаем оплату через платежную систему ЮKassa<br>Работаем с корпоративными клиентами
            по безналичному расчету.</p>
        <h3>Доставка</h3>
        <p>Мы отправляем заказы курьерской службой CDEK и Почтой России.</p>
        <h3>Стоимость и срок доставки</h3>
        <p>На стоимость и срок доставки влияет способ отправления и город получателя. Также надо учесть, что
            не все товары есть в наличии и прежде чем отправить товар нам понадобится 1-2 дня для подготовки заказа.
            Заказ по России доставляется приблизительно от 2 до 5 дней после подготовки заказа. Доставка в другие страны
            от 5 до 20 рабочих дней.</p>
        <p>Напоминаем, доставка является отдельной услугой, которую осуществляют почтовые отделения и курьерские службы,
            соответственно, мы не несем ответственности за сроки доставки и потери вашего заказа. Наша ответственность
            прекращается в момент отправления товара с мастерской. Но если у вас возникнут сложности с получением
            вашего заказа, мы всегда рады помочь вам.</p>
    </div>
</div>
{% endblock %}