.main {
    /*background: #FFA07A;*/
    width: 1411.5px;
    height: auto;
    border-radius: 10px;
    padding-top: 100px;

}

    /* Add CSS styles for flex container and items */
    .product-list {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
        justify-content: space-between; /* Space items evenly along the main axis */
        list-style: none; /* Remove list styles */
        padding: 0;
    }

    .product-item {

        flex: 1; /* Grow to fill available space evenly */
         /* Limit item width to avoid overcrowding */
        margin: 10px; /* Add spacing between items */
        border: 1px solid #ccc; /* Add a border for visual separation */
        padding: 10px;
        text-align: center;
    }

    .belt-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;

}
